<div class="main-content">
    <div class="form-container">
      <h2 class="section-title">Contacts recue</h2>
  
      <!-- Loader -->
      <div *ngIf="isLoading" class="loading-spinner">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
  
      <!-- Liste des clients -->
      <mat-card *ngIf="!isLoading">
        <mat-card-content>
          <div class="table-wrapper">
            <table mat-table [dataSource]="contacts" class="mat-elevation-z8 client-table">
  
              <!-- Nom -->
              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
              </ng-container>
  
              <!-- Email -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
              </ng-container>
  
              <!-- Téléphone -->
              <ng-container matColumnDef="sujet">
                <th mat-header-cell *matHeaderCellDef>Sujet</th>
                <td mat-cell *matCellDef="let element">{{ element.sujet }}</td>
              </ng-container>
  
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef>Message</th>
                <td mat-cell *matCellDef="let element">{{ element.message || 'non défini' }}</td>
              </ng-container>
  
              <!-- Actions -->
             
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
  
          <!-- Aucun client -->
          <div *ngIf="contacts.length === 0" class="no-data-message">
            Aucun Contact recue
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  